@for (article of articles; track article.Name;) {
<article class="card d-inline-block m-2 p-2" style="width: 18rem;">
    <img src="{{ article['Closet Image'] }}" alt="{{ article.Name }}" class="card-img-top">
    <h5 class="card-title">{{ article.Name }}</h5>
    <p>Price : {{ article.Buy }}</p>
    <p>Availability : {{ article["Seasonal Availability"] }}</p>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Quantity</span>
        <input oninput="this.value= Math.max(1, Math.abs(this.value))" type="number" class="form-control" min="0"
            value="0" #inputField aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="d-grid gap-2 ">
        <button (click)="addToCart(article, +inputField.value)" class="btn btn-primary">Add</button>
        @for (buyed of getCart(); track buyed.id;) {
        @if (buyed.id === article["Unique Entry ID"]) {
        <button (click)="deleteFromCart(buyed.id)" class="btn btn-danger mt-2" aria-label="Close">X</button>
        }
        }
    </div>
</article>
}